<section id="member-info" style="margin-top:7px" data-bind="visible: !ShowSearch()">
    <div class="row">
        <div class="col-lg-7" data-bind="with: MemberModel">
            <div class="card">
                <div class="card-header">
                    <span class="text-primary" style="font-size:14pt;">Member Info</span>
                    <div class="btn-group btn-group-sm float-right">
                        <button type="button" data-bind="click: members.openMPAModal" style="font-size:10px" class="btn btn-outline-primary">MPA's</button>
                        <button type="button" data-bind="click: members.openClaimHistoryModal" style="font-size:10px" class="btn btn-outline-primary">Claim History</button>
                        <button type="button" data-bind="click: members.openDependentsModal" style="font-size:10px" class="btn btn-outline-primary">Dependents</button>
                        <button type="button" data-bind="click: members.openCreateCardHolderModal" style="font-size:10px" class="btn btn-outline-primary">Create Card Holder</button>
                        <button type="button" data-bind="click: members.openCreateDependentModal" style="font-size:10px" class="btn btn-outline-primary">Create Dependent</button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- member info header -->
                    <table class="table detail-font" style="font-size:12px">
                        <tbody>
                            <tr>
                                <td class="cell-header text-primary">Member ID</td>
                                <td data-bind="text: MemberId"></td>
                                <td class="cell-header text-primary">First Name</td>
                                <td data-bind="text: FirstName"></td>
                                <td class="cell-header text-primary">Active Indicator</td>
                                <td data-bind="text: ActiveIndicator"></td>
                                <td class="cell-header text-primary">Alternate ID</td>
                                <td data-bind="text: AlternateId"></td>
                            </tr>
                            <tr>
                                <td class="cell-header text-primary">PC</td>
                                <td data-bind="text: PC"></td>
                                <td class="cell-header text-primary">Last Name</td>
                                <td data-bind="text: LastName"></td>
                                <td class="cell-header text-primary">Carrier Code</td>
                                <td data-bind="text: CarrierCode"></td>
                                <td class="cell-header text-primary">Previous ID</td>
                                <td data-bind="text: PreviousId"></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- tabs -->
                    <span class="float-right text-primary" style="margin-top:10px">
                        <label><input type="checkbox" /> Student</label>
                    </span>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#profile-tab">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#details-tab">Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#eligibility-tab">Eligibility</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#group-tab">Group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#notes-tab">Notes</a>
                            </li>
                        </ul>
                        
                   
                    

                    <div class="tab-content">
                        <div class="tab-pane active text-primary detail-font" style="font-size:11px" id="profile-tab">
                            @Html.Partial("_Profile")
                        </div>

                        <div class="tab-pane text-primary detail-font" style="font-size:11px" id="details-tab">
                            @Html.Partial("_Details")
                        </div>

                        <div class="tab-pane text-primary detail-font" style="font-size:11px" id="eligibility-tab">
                            @Html.Partial("_Eligibility")
                        </div>

                        <div class="tab-pane text-primary detail-font" style="font-size:11px" id="group-tab">
                            @Html.Partial("_Group")
                        </div>

                        <div class="tab-pane text-primary detail-font" style="font-size:11px" id="notes-tab">
                            @Html.Partial("_Notes")
                        </div>

                    </div>
                    <hr />                   
                    
                    <button type="button" class="btn btn-sm btn-primary float-right">Save Changes</button>
                </div>
            </div>
        </div>
        <div class="col-lg-5 text-primary">
           @Html.Partial("_SummaryPanel")
        </div>
    </div>
</section>
