@using Newtonsoft.Json
@{
    ViewBag.Title = "ScriptCycle Prototype - Members";
}

@Html.Partial("_ModalConfiguration")
@Html.Partial("_ModalClaimHistory")
@Html.Partial("_ModalCreateCardHolder")
@Html.Partial("_ModalCreateDependent")
@Html.Partial("_ModalDependents")
@Html.Partial("_ModalMPA")
@Html.Partial("_ModalDiagnosisCode")

<div class="row">
    <div class="col-lg-9">
        <div style="margin-top:5px">
            <a href="#">Members</a> -> <a data-bind="click: members.gotoSearch" href="#">Member Search</a>
            <span data-bind="visible: !ShowSearch()">
                -> <a href="#">Member Info</a>
            </span>            
        </div>
    </div>
    <div class="col-lg-3">
        <div class="float-right">
            <button type="button" data-bind="click: members.openConfigurationModal" 
                    class="btn btn-sm btn-primary">Configuration</button>
        </div>
    </div>
</div>
<div style="display:none" data-bind="visible: true">
    @Html.Partial("_MemberSearch")
    @Html.Partial("_MemberInfo")
</div>


@section scripts {
    <script src="~/Scripts/Members.js"></script>
    <script type="text/javascript">
        $(function () {
            members.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            members.init();
        })
    </script>
}